.flight-container {
    .flight-search-section {
        position: relative;
        /* .carousel-section {
            // height: 550px;
        } */

        .search-panel-section {
            // border: 2px saddlebrown solid;
            margin-top: 25px;
            background-color: darksalmon;
            border-radius: 5px;
        }
    }
}
